.comment-title
{
  width : 100px;
  display:inline-block;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.comment-date
{
  width : 100px;
  display:inline-block;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: right;
}